
.FoodCategory {
    font-size : 1.7rem;
    text-decoration: none;
    padding-left: 50px;
    
}
.SearchBar:hover, .SearchBar:focus {
    border : 1px solid black;
    box-shadow: 0px 0px 10px green;
    transition-duration: 500ms;
}

.SearchBar {
    padding : 0.2em;
    border : 1px solid black;
    font-size : 1em;
    font-family : 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 10px;
}
